:root {
  --gray-100: #f5f5f5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-800: #333;
  --sm: 12px;
  --md: 16px;
  --lg: 20px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--gray-100);
  min-height: 92vh;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.todo {
  display: flex;
  flex-direction: column;
  margin: var(--lg) auto;
  width: min(100%, 600px);
  height: 90vh;
  background-color: #fff;
  box-shadow: 0 0 5px var(--gray-300);
  padding: var(--lg);
  color: var(--gray-800);
}

.todo__input {
  display: block;
  width: 100%;
  padding: var(--md);
  border: none;
  box-shadow: 0 0 2px var(--gray-300);
  outline: none;
  font-size: var(--lg);
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
.todo__input::placeholder {
  color: var(--gray-300);
}

.todo__list {
  flex-grow: 1;
  overflow: hidden auto;
}

.todo__listItem {
  display: flex;
  align-items: center;
  padding: var(--md);
  box-shadow: 0 0 2px var(--gray-300);
  cursor: pointer;
  gap: var(--sm);
  transition: all 0.3s ease;
  user-select: none;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
}
.todo__listItem:hover {
  background-color: var(--gray-100);
}

.todo__listItemText {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.todo__listItemText--done {
  text-decoration: line-through;
  color: var(--gray-400);
}

.todo__listItem svg {
  flex-shrink: 0;
}

.todo__amount {
  color: var(--gray-400);
}

.todo__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo__btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--gray-400);
  transition: all 0.3s ease;
  font-size: var(--md);
}
.todo__btn:hover {
  color: var(--gray-800);
}
.todo__btn.active {
  color: var(--gray-800);
}

.todo__filter {
  flex-grow: 1;
  text-align: center;
}

.todo__filter-btn--active {
  color: var(--gray-800);
  font-weight: bold;
}
